<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button *ngIf="isLoggedIn" mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 ngClass="home-link" [routerLink]="'/'">Open Lyrics</h1>
        <span class="menu-spacer"></span>
        <div>
            <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
                <mat-form-field class="search-input">
                    <mat-label>Search by singer</mat-label>
                    <input matInput formControlName="searchBar" type="search" />
                </mat-form-field>
                <button [disabled]="searchForm.invalid" mat-button>
                    <mat-icon>search</mat-icon>
                </button>
                <div *ngIf="f.searchBar.invalid && (f.searchBar.dirty || f.searchBar.touched)" class="alert alert-danger search-alerts">
                    <div *ngIf="f.searchBar.errors?.required" ngClass="search-alerts">
                        Search term is required.
                    </div>
                    <div *ngIf="f.searchBar.errors?.minlength" ngClass="search-alerts">
                        Search term must be at least 2 characters long.
                    </div>
                    <div *ngIf="f.searchBar.errors?.pattern" ngClass="search-alerts">
                        Search term must be letter or number.
                    </div>
                </div>
            </form>
        </div>
        <span class="fill-space"></span>
        <div>
            <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/user/login'"> Login </a>
            <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/user/register'"> Register </a>
            <a mat-button *ngIf="isLoggedIn" [routerLink]="'/user/logout'"> Logout </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list *ngIf="isLoggedIn">
            <a mat-list-item [routerLink]="'/lyrics/create'"> Create Lyric </a>
            <a mat-list-item [routerLink]="'/lyrics/my'"> My Lyrics </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>