<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button *ngIf="isLoggedIn" mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 ngClass="home-link" [routerLink]="'/'">Open Lyrics</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/user/login'"> Login </a>
            <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/user/register'"> Register </a>
            <a mat-button *ngIf="isLoggedIn" [routerLink]="'/user/logout'"> Logout </a>
        </div>
        <div>
            <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
                <mat-form-field class="search-input">
                    <input matInput formControlName="searchBar" type="search" placeholder="Search by singer" />
                    <button mat-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list *ngIf="isLoggedIn">
            <a mat-list-item [routerLink]="'/user/profile'"> Profile </a>
            <a mat-list-item [routerLink]="'/lyrics/create'"> Create Lyric </a>
            <a mat-list-item [routerLink]="'/lyrics/my'"> My Lyrics </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>