<div class="all-lyrics">
    <h3 ngClass="text-center">Song lyrics</h3>
    <mat-spinner class="loading-spinner" *ngIf="length === undefined"></mat-spinner>
    <mat-divider></mat-divider>
    <mat-nav-list *ngIf="lyricsData.length > 0">
        <mat-list-item [routerLink]="['lyrics/detail/', lyric.id]" *ngFor="let lyric of lyricsData">
            <mat-icon mat-list-icon>library_music</mat-icon>
            <h4 mat-line>{{lyric.singer}} - {{lyric.title}}</h4>
            <p mat-line>Created by {{lyric.authorName}} </p>
        </mat-list-item>
    </mat-nav-list>
    <h2 class="mat-h1 text-center" *ngIf="lyricsData.length === 0">No results!</h2>

    <mat-divider></mat-divider>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = getAll($event)"></mat-paginator>
</div>