<div class="all-lyrics">
    <h3>Song lyrics</h3>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-list-item *ngFor="let link of data">
            <a matLine [href]="" target="_blank">
                <mat-icon class="icon-angular"></mat-icon>
                <span class="link-caption">{{link.name}}</span>
            </a>
            <h5 matline> {{link.info}} </h5>
        </mat-list-item>
    </mat-nav-list>
    <mat-divider></mat-divider>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>

    {{pageEvent | json}}
</div>